Logging__LogLevel__Default="Information"
Logging__LogLevel__MicrosoftAspNetCore="Warning"
AllowedHosts="*"
Environment="Development/Production"

# DB Connection String
ConnectionStrings__DefaultConnection="Server=host.docker.internal, 1433;Initial Catalog=your_db_name;User ID=sa;Password=your_db_password;TrustServerCertificate=True;Connection Timeout=30;"

# JWT Settings
Jwt__Issuer="LeaveFlowHR"
Jwt__Audience="LeaveFlowHR"
Jwt__SecretKey="secret-128-bit-key-here"
Jwt__ExpiryInMinutes=60